:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gris-claro);
}

header {
  background-color: var(--amarillo);
  padding: 10px;
}

header div.logo {
  width: 50%;
  padding: 10px;
}

header .top-header p {
  text-align: center;
  margin-left: 20px;
}
header .top-header .form {
  margin: 10px 0;
  display: flex;
}

header .top-header .form input#search {
  margin-bottom: 5px;
}

header nav {
  font-size: 12px;
  margin-left: 0px;
}

header nav ul {
  padding-left: 0;
  list-style: none;
  display: none;
}
header nav ul li a {
  color: #000;
  text-decoration: none;
}

header .burger-menu {
  text-align: center;
  padding: 20px 0;
}
header .burger-menu button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: var(--celeste);
}

section.banner img {
  width: 100%;
}

main {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

main section .products article {
  background-color: #fff;
  padding: 15px;
  margin: 1rem;
  text-align: left;
}

main section .products article img {
  width: 100%;
}

main section .products article i,
.descuentos {
  color: #39b54a;
}

main section .products article .main-article {
  border-top: 1px solid #ebebeb;
  margin: 15px;
  padding: 10px 0;
  position: relative;
}
main section .products article .main-article .main-article-precios {
  padding: 1rem 0;
  display: flex;
  align-items: baseline;
}

main section .products article .main-article .main-article-precios p {
  margin-right: 0.5rem;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

h3 {
  font-size: 24px;
}
p {
  font-size: 12px;
}
.precios {
  font-size: 18px;
}

.descuentos,
.descripciones {
  font-size: 16px;
}

.descripciones {
  display: none;
}

h3,
.descripciones {
  color: #666;
}

footer {
  background-color: #fff;
  padding: 20px 0;
}

footer {
  padding: 2em 1em;
}

footer div {
  text-align: center;
  padding: 0 50px;
  margin-bottom: 30px;
}

footer i {
  color: var(--celeste);
  font-size: 2em;
  margin: 10px 0;
}
footer p {
  margin: 0;
}

footer p.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

footer p.footer-descripcion {
  margin-top: 4px;
}

@media (min-width: 361px) {
  main section .products article {
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.424);
  }

  header div.logo {
    width: 35%;
    padding: 10px;
  }

  header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  header .top-header .form,
  .logo {
    flex-basis: 45%;
  }

  header .top-header p {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  header nav {
    display: flex;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    gap: 1rem;
  }
  main section .products article .main-article .descripciones {
    display: block;
  }
  header div.logo img {
    width: 80%;
    padding: 10px;
  }
  header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  header .top-header .form,
  .logo {
    flex-basis: auto;
  }

  header .top-header p {
    flex-basis: auto;
  }

  main {
    overflow: hidden;
  }
  main section .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main section .products article {
    flex: 0 0 45%;
  }
}

@media (min-width: 992px) {
  main section {
    text-align: left;
  }
  main section .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  main section .products article {
    margin: 1.5rem 0;
    flex: 0 0 21%;
  }
}

@media (min-width: 1200px) {
  main header .top-header,
  nav {
    max-width: 1200px;
    margin: auto;
  }
}
