:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gris-claro);
}

header {
  background-color: var(--amarillo);
  padding: 10px;
}

header div.logo {
  width: 50%;
  padding: 10px;
}

header .top-header p {
  text-align: center;
  margin-left: 20px;
}
header .top-header .form {
  margin: 10px 0;
}

header .top-header .form input#search {
  margin-bottom: 5px;
}

header nav {
  font-size: 12px;
  margin-left: 0px;
}

header nav ul {
  padding-left: 0;
  list-style: none;
  display: none;
}
header nav ul li a {
  color: #000;
  text-decoration: none;
}

header .burger-menu {
  text-align: center;
  padding: 20px 0;
}
header .burger-menu button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: var(--celeste);
}

section.banner img {
  width: 100%;
}

main {
  text-align: center;
  width: 90%;
  padding: 10px 0;
}

main section .products article {
  background-color: #fff;
  padding: 15px;
  margin: 10px;
  text-align: left;
}

main section .products article img {
  width: 100%;
}

main section .products article i,
.descuentos {
  color: #39b54a;
}

main section .products article .main-article {
  border-top: 1px solid #ebebeb;
  margin: 15px;
  padding: 10px 0;
}

h3 {
  font-size: 24px;
}
p {
  font-size: 12px;
}
.precios {
  font-size: 18px;
}

.descuentos,
.descripciones {
  font-size: 16px;
}

.descripciones {
  display: none;
}

h3,
.descripciones {
  color: #666;
}

footer {
  background-color: #fff;
  padding: 20px 0;
}

footer div {
  text-align: center;
  padding: 0 60px;
  margin-bottom: 30px;
}

footer i {
  color: var(--celeste);
  font-size: 2em;
  margin: 10px 0;
}
footer p {
  margin: 0;
}

footer p.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

footer p.footer-descripcion {
  margin-top: 4px;
}

@media (min-width: 361px) {
  header nav ul {
    display: block;
  }
  main section .products article .main-article .descripciones {
    display: block;
  }
  main section .products article {
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.424);
  }
  .burger-menu {
    display: none;
  }
}

@media (min-width: 769px) {
}
